body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u405 {
  position:absolute;
  left:50px;
  top:20px;
  width:200px;
  height:650px;
}
#u406 {
  position:absolute;
  left:2px;
  top:317px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u408 {
  position:absolute;
  left:137px;
  top:135px;
  width:61px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u409 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:2px;
}
#u410 {
  position:absolute;
  left:75px;
  top:173px;
  width:153px;
  height:1px;
}
#u411 {
  position:absolute;
  left:2px;
  top:-8px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u412 {
  position:absolute;
  left:213px;
  top:147px;
  width:6px;
  height:4px;
}
#u413 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u414 {
  position:absolute;
  left:75px;
  top:48px;
  width:51px;
  height:50px;
}
#u415 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u416 {
  position:absolute;
  left:149px;
  top:48px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u417 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u418 {
  position:absolute;
  left:149px;
  top:74px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:871px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  position:absolute;
  left:260px;
  top:20px;
  width:1000px;
  height:871px;
}
#u421 {
  position:absolute;
  left:2px;
  top:428px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:69px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:276px;
  top:38px;
  width:963px;
  height:69px;
}
#u423 {
  position:absolute;
  left:2px;
  top:26px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u424 {
  position:absolute;
  left:297px;
  top:64px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u426 {
  position:absolute;
  left:87px;
  top:136px;
  width:28px;
  height:26px;
}
#u427 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u429 {
  position:absolute;
  left:297px;
  top:434px;
  width:150px;
  height:85px;
}
#u430 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:2px;
}
#u431 {
  position:absolute;
  left:327px;
  top:477px;
  width:91px;
  height:1px;
}
#u432 {
  position:absolute;
  left:2px;
  top:-8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:58px;
}
#u433 {
  position:absolute;
  left:372px;
  top:449px;
  width:1px;
  height:57px;
}
#u434 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u435 {
  position:absolute;
  left:522px;
  top:163px;
  width:150px;
  height:85px;
}
#u436 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u437 {
  position:absolute;
  left:748px;
  top:163px;
  width:150px;
  height:85px;
}
#u438 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u439 {
  position:absolute;
  left:297px;
  top:163px;
  width:150px;
  height:85px;
}
#u440 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u441 {
  position:absolute;
  left:989px;
  top:163px;
  width:150px;
  height:85px;
}
#u442 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u443 {
  position:absolute;
  left:522px;
  top:293px;
  width:150px;
  height:85px;
}
#u444 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u445 {
  position:absolute;
  left:748px;
  top:293px;
  width:150px;
  height:85px;
}
#u446 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u447 {
  position:absolute;
  left:297px;
  top:293px;
  width:150px;
  height:85px;
}
#u448 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u449 {
  position:absolute;
  left:989px;
  top:293px;
  width:150px;
  height:85px;
}
#u450 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u451 {
  position:absolute;
  left:704px;
  top:636px;
  width:112px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u452 {
  position:absolute;
  left:2px;
  top:9px;
  width:108px;
  word-wrap:break-word;
}
